// This is just to see the color of header... not yet final
@use "../../../../assets/theme/global-variable.scss" as var;
.header-container {
  background-color: mat-color(var.$primary);
  color: white;

  h2 {
    margin: auto;
  }
}
