// This is the global variable css that we will use
@use "../../../../assets/theme/global-variable.scss" as var;
.header-container {
  background-color: var.$primary;
  color: white;

  h2 {
    margin: auto;
  }
}
