@use "../../../../assets/theme/global-buttons.scss" as b;
// This is just to see the color of header... not yet final
.home-container {
  //background-color: #ff5722;
  color: white;
  margin: auto;

  p {
    margin: auto;
  }
}
