// This replaces style.scss
// Already changed in angular.json
@use "color" as col;
@use "@angular/material" as mat;
@use "global-variable.scss" as var;
@use "global-buttons.scss" as b;

// This is how we changed the font for the whole application
// Define the config changes - this time only $font-family
$custom-typography: mat.define-typography-config(
  $font-family: var.$default-font,
);
// Then include it here in mat.core($custom-typography)
@include mat.core($custom-typography);

$audiophile-e-commerce-theme: mat.define-light-theme(
  (
    color: (
      primary: col.$primary,
      accent: col.$accent,
      warn: col.$warn,
    ),
  )
);

@include mat.all-component-themes($audiophile-e-commerce-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

/*Global Class Definition*/
// Button
.default-button {
  @include b.default-button;
}

.default-button:hover {
  @include b.default-button-hover;
}

.button2 {
  @include b.button2;
}

.button2:hover {
  @include b.button2-hover;
}

.button3 {
  @include b.button3;
}

.button3:hover {
  @include b.button3-hover;
}
